{% extends "base.html" %}
{% load timecard %}

{% block page_title %}
<h1>My Time</h1>
{% endblock %}

{% block content %}


{% if can_punch_in %}
<p>
<form method="POST">{% csrf_token %}
  <label>I would like to: </label><input type="submit" name="punch_in" id="id_punch_in" value="Punch In" />
</form>
</p>
{% endif %}

{% if can_punch_out %}
<p>
<form method="POST">{% csrf_token %}
  <label>I would like to: </label><input type="submit" name="punch_out" id="id_punch_out" value="Punch Out" />
</form>
</p>
{% endif %}

<h2>My Upcoming Hours</h2>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Times</th>
      <th>Hours</th>
    </tr>
  </thead>
  <tbody>
    {% for date, entries, hours in upcoming_days %}
    <tr class='{% cycle "row1" "row2" "row3" %}'>
      <td>{{ date }}</td>
      <td>
        {% for entry in entries %}
          {{ entry.summary }}, 
        {% endfor %}
      <td>{% display_time hours %}</td>
    </tr>
    {% empty %}
    <tr>
      <td class="row1"colspan='4'>You don't have any upcoming hours right now.</td>
    </tr>
    {% endfor %}
    </tbody>
    {% if upcoming_days|length > 0 %}
    <tfoot>
    <tr>
      <td><strong>Total Hours</strong></td>
      <td></td>
      <td>{% display_time upcoming_hours %}</td>
    </tr>
  </tfoot>
  {% endif %}
</table>

<h2>My Paid Hours</h2>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Times</th>
      <th>Hours</th>
    </tr>
  </thead>
  <tbody>
    {% for date, entries, hours in paid_days %}
    <tr class='{% cycle "row1" "row2" "row3" %}'>
      <td>{{ date }}</td>
      <td>
        {% for entry in entries %}
          {{ entry.summary }}, 
        {% endfor %}
      <td>{% display_time hours %}</td>
    </tr>
    {% empty %}
    <tr>
      <td class="row1"colspan='4'>You don't have any paid hours right now.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
